.country {
    background-color: rgb(206, 103, 103);
    margin: 20px;
    padding: 10px;
    margin-left: 10px;

    /* width: 400px; */
    border: 2px solid rgb(241, 2, 2);
    border-radius: 50px;
   



}

.country img {
    width: 100px;
}